{
  "env": {
    "NEXT_PUBLIC_COMPANY_NAME": "PT Global Promedika Service",
    "NEXT_PUBLIC_WHATSAPP_NUMBER": "6281234567890",
    "NEXT_PUBLIC_WHATSAPP_MESSAGE": "Halo simgps, saya ingin minta demo SIMGPS"
  }
}
